*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ComputerDataBase/.classpath
/ComputerDataBase/.gitignore
/ComputerDataBase/.project
/ComputerDataBase/.settings/.jsdtscope
/ComputerDataBase/.settings/org.eclipse.jdt.core.prefs
/ComputerDataBase/.settings/org.eclipse.wst.common.component
/ComputerDataBase/.settings/org.eclipse.wst.common.project.facet.core.xml
/ComputerDataBase/.settings/org.eclipse.wst.jsdt.ui.superType.container
/ComputerDataBase/.settings/org.eclipse.wst.jsdt.ui.superType.name
/ComputerDataBase/WebContent/META-INF/MANIFEST.MF
/config/db/1-SCHEMA.sql
/config/db/2-PRIVILEGES.sql
/config/db/3-ENTRIES.sql
/ComputerDataBase/1-SCHEMA.sql
/ComputerDataBase/2-PRIVILEGES.sql
/ComputerDataBase/3-ENTRIES.sql
