<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">



	<http pattern="/static/**" security="none" />

	<http auto-config='true' use-expressions="false">
		<!-- entry-point-ref="digestEntryPoint"> -->
		<intercept-url pattern="/addComputer*" access="ROLE_USER" />
		<intercept-url pattern="/editComputer*" access="ROLE_ADMIN" />
		<intercept-url pattern="/deleteComputer*" access="ROLE_ADMIN"  />
		<intercept-url pattern="/dashboard*" method="POST" access="IS_AUTHENTICATED_ANONYMOUSLY"  />
<!-- 		<intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" /> -->

		<!-- <form-login login-page="/login" default-target-url="/dashboard" -->
		<!-- authentication-failure-url="/login?error" username-parameter="username" -->
		<!-- password-parameter="password" /> -->
		<logout logout-success-url="/dashboard" delete-cookies="JSESSIONID" />
		<csrf disabled="true"/>

		<!-- <custom-filter ref="digestFilter" after="BASIC_AUTH_FILTER" /> -->
	</http>


	<beans:bean id="myUserDetailsService"
		class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
		<beans:property name="dataSource" ref="dataSource" />
	</beans:bean>

	<authentication-manager>
		<authentication-provider user-service-ref="userDetailsService"/>
<!-- 		<authentication-provider> -->
<!-- 			<jdbc-user-service data-source-ref="dataSource" /> -->
<!-- 		</authentication-provider> -->
	</authentication-manager>

	<!-- <beans:bean id="digestFilter" -->
	<!-- class="org.springframework.security.web.authentication.www.DigestAuthenticationFilter"> -->
	<!-- <beans:property name="userDetailsService" ref="myUserDetailsService" 
		/> -->
	<!-- <beans:property name="authenticationEntryPoint" ref="digestEntryPoint" 
		/> -->
	<!-- </beans:bean> -->

	<!-- <beans:bean id="digestEntryPoint" -->
	<!-- class="org.springframework.security.web.authentication.www.DigestAuthenticationEntryPoint"> -->
	<!-- <beans:property name="realmName" -->
	<!-- value="Contacts Realm via Digest Authentication" /> -->
	<!-- <beans:property name="key" value="acegi" /> -->
	<!-- </beans:bean> -->

</beans:beans>